/* ===================== */
/* Add and Remove Button for "My courses" */

.helper-add-button,
.helper-remove-button {
  margin-left: 0px;
  margin-bottom: 0px;
  order: 4;
}

.helper-add-button {
  width: 196.5px;
  background-color: rgb(200, 200, 200);
}

.helper-remove-button {
  width: 250px;
  background-color: rgb(125, 143, 161);
}

.helper-remove-button:hover {
  background-color: rgb(106, 121, 134);
}